#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
config ARCH_BOARD_R528S3_DSHANPI
	bool "r528 dshanpi"
	depends on ARCH_CHIP_R528
	select ARCH_HAVE_LEDS
	select ARCH_HAVE_BUTTONS
	select ARCH_HAVE_IRQBUTTONS
	select ARCH_HAVE_TRUSTZONE if X4B_AP || X4B_TEE
	---help---
		Enable board support for the Allwinner R528S3-based dshanpi
		board configuration.

config ARCH_BOARD_PARTITION_TABLE
        string "board partition table path"
        default ""
        ---help---
                This is a path for the board.

choice
prompt "choose system fucntion"

config DSHANPI_NSH
	bool "Enable the NSH fucntion on the 'DSHANPI' board"

endchoice
